<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        fieldset {
            font-size:50px;
        }
        a {
                text-decoration: none;
                color: darkblue;
        }
    </style>
</head>
<body>
    <fieldset>
        <legend>Savollar ro'yxati</legend>
        <ol>
        {% for i in questions %}
            <li><a href="{% url 'detail' question_id=i.id %}">{{i.text}}</a></li>
        {% endfor %}
    </ol>
    </fieldset>
</body>
</html>